// Carousel

@import 'stylesheets/mixins';
@import 'stylesheets/variables';

.blogs {
    @include media-breakpoint-only(xs) {
        order: -1;
        margin-bottom: 0;
    }

    background : #E3DCE2;
    margin-top: 3rem;
    @include media-breakpoint-up(lg) {
        .row {

            margin-left: 0;
            margin-right: 0;
        }
    }

    width: 100%;
    padding-top : 1rem;

    .btn {
        border-radius: 0;
        display: inline-block;
    }

    .container {
        text-align: center;
    }
}
