// Slots Filter

@import 'variables';
@import 'mixins';

.search-filter {
   padding-top: .2rem;
   padding-bottom: .2rem;
   background: #e3dce2;
   text-align: justify;
   border-bottom: ridge;
   border-bottom-color: currentColor;
   order: -1;
   h1,h2,h3 {
       color: #333;
       font-weight: 600;
   }
   background : #E3DCE2;

   .form-control {
       height: auto;
       background: #fff;
       color: #333;
       border-radius:0rem;
       font-weight: 600;
       font-size : 0.9rem;
   }
}
